---
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import SocialPill from '../components/SocialPill.astro'
import LinkedInIcon from '../components/icons/LinkedInIcon.astro'
import GitHubIcon from '../components/icons/GitHubIcon.astro'
import GmailIcon from '../components/icons/GmailIcon.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../components/icons/Briefcase.astro'
---

<Layout title="Portafolio cmatteo - Desarrollador y Programador Web">
  <main>
    <SectionContainer class="py-40 px-20">
      <img
        class="rounded-full w-28 h-28 mb-4"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgJTZD9yIHJZv4h1TFCUDxh8jsBaLYr0MnwA-GzqmpTg&s"
        alt="profile photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola! Soy CMatteo
        <a
          href="https://www.linkedin.com/in/camilo-matteo-98143619b/?originalSubdomain=cl"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar 🚀</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        Soy un profesional con +3 años experiencia como Desarrollador Frontend. Me considero una persona apasionada por
        codear, desarrollando soluciones ordenadas, limpias, legibles y aplicando buenas practicas en lo posible. Soy
        proactivo, estoy constantemente adquiriendo conocimientos, trabajo bien en equipo y me adapto con facilidad ante
        los cambios.
        <span>+6 años de experiencia.</span>
        <span class="text-yellow-200/90">Desarrollador Web</span> ejerciendo como
        <span class="text-yellow-200/90">Frontend</span> y
        <span class="text-yellow-200/90">Backend</span> en diferentes proyectos. Soy de Santiago de Chile 🇨🇱
      </h2>
      <nav class="flex gap-x-2 mt-8">
        <SocialPill href="https://www.linkedin.com/in/camilo-matteo-98143619b/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/IKameloth">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill>
          <GmailIcon class="size-6" />
          matteo.camilo.k@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
