<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
      Hola!✌️ Soy Camilo y empecé a programar desde el 2013 creando aplicaciones randoms de escritorio con Java para
      Windows, tiempo despues ingresé a la carrera de Análisis y Programación de Sistemas, donde logré aprender de
      manera mas ordenada de cómo construir un programa y todo su cíclo de vida.
    </p>
    <p>
      Luego de titularme de la carrera no he parado de trabajar, pasando por varios lenguajes y frameworks a travéz de
      los años tales como Laravel, CodeIgniter, RubyOnRails en el Backend y en estos ultimos años ReactJS en el
      Frontend. He podido aprender y compartir con colegas de diferentes partes del país, construyendo software para
      empresas grandes, medianas y pequeñas de diferentes tipos de rubros.
    </p>
    <p>
      Actualmente estoy bastante interesado en el mundo Frontend, explorando nuevas tecnologias como Astro o NextJS,
      siendo ReactJS mi preferido ✨. Esto no quiere decir que le hago el quite a otras herramientas o frameworks,
      siempre estoy dispuesto a aprender y aportar valor 🦾.
    </p>
  </div>
  <img src="/images/me.webp" alt="me-picture" class="rounded-full size-64 order-1 md:order-2" />
</section>
