<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
      Hola!✌️ Me llamo Camilo, empecé a programar desde el 2013 creando aplicaciones randoms de escritorio con Java para
      Windows, tiempo despues ingresé a la carrera de Análisis y Programación de Sistemas, donde logré aprender de
      manera mas ordenada de cómo construir un programa y todo su cíclo de vida.
    </p>
    <p>
      Luego de titularme de la carrera no he parado de trabajar, pasando por varios lenguajes y frameworks tales como
      Laravel, CodeIgniter, RubyOnRails y en estos ultimos años ReactJS (aunque no sea un framework). He podido aprender
      y compartir con colegas de diferentes partes del país, construyendo software para empresas grandes, medianas y
      pequeñas de diferentes sectores económicos.
    </p>
    <p>
      Actualmente me estoy enfocando bastante en ReactJS y el impacto que generó en el mundo del desarrollo web, las
      posibilidades que da a la hora de controlar el DOM del navegador y su tremenda comunidad ✨.
    </p>
  </div>
</section>
