<header class="flex justify-center items-center py-5 px-5 w-[1120px] mx-auto">
  <!-- <img
    class="rounded-full w-12 h-12"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgJTZD9yIHJZv4h1TFCUDxh8jsBaLYr0MnwA-GzqmpTg&s"
    alt="profile photo"
  /> -->
  <nav class="flex flex-row gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
