---
import ThemeSwitch from './ThemeSwitch.astro'
---

<header class="flex justify-center justify-items-center mx-auto py-5 sticky top-0 w-full xl:w-[1120px] z-10">
  <nav id="header-nav">
    <a class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base" href="/#experience">
      Experiencia
    </a>
    <a class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base" href="/#projects">
      Proyectos
    </a>
    <a class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base" href="/#about-me">
      Sobre mí
    </a>
    <a class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base" href="/#contact">
      Contacto
    </a>
    <ThemeSwitch />
  </nav>
</header>

<style>
  #header-nav {
    animation: blur linear both 0.5s;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      backdrop-filter: blur(20px);
      border-width: 1px;
      border-color: rgba(0, 0, 0);
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgba(229, 229, 229);
      border-radius: 9999px;
    }
  }
</style>
